


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
   color: '#000000';
   font-family: 'Verdana' ;
}

.Footer {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.note,
.warning {
  background-color: white;
  border: solid 1px white;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 20px;
  margin-bottom: 10px;
  width: 100%;
}

.note::before,
.warning::before {
  font-size: 20px;
  margin-right: 10px;
}

.note {
  background-color: #f0f7fb;
  border-color: #3498db;
}

.note::before {
  content: '📝';
}

.warning {
  background-color: #fbf5f0;
  border-color: #db6334;
}

.warning::before {
  content: '⚠️';
}

.dashboardButton {
  width: 170px;
}

.centered {
  text-align: center;
}

.appContainer {
  margin-top: 50px;
}

.titleField {
  min-width: 100%;
  padding: 10px;
  background-color: #f5f3f3;
  border: 0px solid;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(209, 209, 209, 1);
  height: 40px;
}

.textField {
  min-width: 100%;
  min-height: 300px;
  padding: 10px;
  border-radius: 5px;
}

.titleField:focus {
  outline: none !important;
  border: 1px solid #9b4dc9;
  box-shadow: 0 0 0;
}

.input {
  box-shadow: 0 0 10px red;
}

.notificationContainer {
  max-width: 1050px;
}

.notificationWrapping {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block {
  display: block;
}

.center {
  display: block;
  text-align: center;
}

.profile {
  min-height: 260px;
  max-width: 400px;
  margin: auto;
}
.profile .username {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}
.profile .description {
  margin-top: 10px;
  font-size: 1em;
}
.profile .profileImage {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.profile .profileImage .image, .profile .profileImage .identicon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.profile .profileImage .image {
  position: absolute;
  top: 6px;
  margin: 0 6px;
  width: 108px;
  height: 108px;
  background-color: rgba(196,196,196,0.5);
}

.back {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  text-align: center;
  top: 20px;
  left: 20px;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  color: #666565;
  background-color: #e2e0e0;
  cursor: pointer;
}
.back:hover, .back:focus {
  background-color: #c8c7c7;
}

.pageWrapper {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1%;
  width: 95%;
  max-width: 1010px;
  border-radius: 5px;
}

.pageWrapperTop {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1% 1% 0% 1%;
  width: 100%;
  max-width: 1010px;
  border-radius: 5px 5px 0px 0px;
}

.pageWrapperBottom {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1% ;
  width: 100%;
  max-width: 1010px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: -1%;
}

.pageWrapperComments {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1%;
  width: 95%;
  max-width: 1010px;
  border-radius: 0px 0px 5px 5px;
}

.leftBrowsePage {
  border-radius: 5px;
  width: 20%;
  float: left;
  margin-right: 0px;
  min-width: 190px;
}

.rightBrowsePage {
  border-radius: 5px;
  width: 80%;
  float: left;
  min-height: 500px;
}

.blogPostPage {
  border-radius: 5px;
  width: 100%;
  float: left;
  background-color: #F5F3F3;
}

.rightEmptyPage {
  background-color: #F5F3F3;
  border-radius: 5px;
  width: 79%;
  float: left;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}

.post {
  cursor: pointer;
  background-color: #F5F3F3;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  height: 150px;
}

.fullpost {
  background-color: #F5F3F3;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.postprofile {
  min-height: 100px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.postprofile .username {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

.postprofile .description {
  margin-top: 10px;
  font-size: 1em;
}

.postprofile .profileImage {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
}
.postprofile .profileImage .image, .postprofile .profileImage .identicon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.postprofile .profileImage .image {
  position: absolute;
  top: 6px;
  margin: 0 6px;
  width: 88px;
  height: 88px;
  background-color: rgba(196,196,196,0.5);
}

.postLeft {
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  float: left;
  margin-right: 1%;
  text-align: center;
}

.postRight {
  border-left: 2px solid #E4E2E2;  
  padding: 10px;
  width: 79%;
  float: left;
  height: 100%;
}

.textPreview {
  margin-top: -5px;
  min-height: 50px;
  border-radius: 5px;
}

.post:hover {
  background-color: #f1eded;
}

.socialSection {
  margin-top: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1%;
  width: 100%;
  max-width: 1010px;
  border-radius: 5px 5px 0px 0px;
}

.postInteraction {
  background-color: #E4E2E2;
  border-radius: 0px 5px 5px 0px;
  padding-right: 1%;
  display: inline-flex;
  margin-bottom: -1%;
}

textarea {
  resize: none;
  background-color: #F5F3F3;
}

.postButton {
  width: 200px;
  margin-right: 12px;
  float: left;
}

.commentButton {
  width: 200px;
  margin-right: 12px;
  float: left;
  margin-bottom: 0%;
}

.commentArea {
  min-height: 70px;
  margin-bottom: 1%;
}

.comment {
  cursor: pointer;
  background-color: #F5F3F3;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.commentLeft {
  background-color: #F5F3F3;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  float: left;
  margin-right: 1%;
  text-align: center;
}

.commentRight {
  border-left: 2px solid #E4E2E2;  
  padding: 10px;
  width: 79%;
  float: left;
  height: 100%;
  background-color: #F5F3F3;
  border-radius: 0px 5px 5px 0px;
}

.commentprofile {
  width: 100%;
  max-width: 200px;
}

.commentprofile .profileImage {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}
.commentprofile .profileImage .image, .commentprofile .profileImage .identicon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.commentprofile .profileImage .image {
  position: absolute;
  top: 5px;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background-color: rgba(196,196,196,0.5);
}

.commentText {
  border-radius: 5px;
  margin-bottom: 0px;
}

.blogComments {
  border-radius: 5px;
  width: 100%;
  float: left;
  background-color: #F5F3F3;
  margin-bottom: 10px;
}

.deleteCommentButton {
  float: left;
  margin-bottom: 0%;
  margin-top: 10px;
}